<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MY-Easy-Pic-Bed</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">MY-Easy-Pic-Bed</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.longjin666.top">开发者网站</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.longjin666.top/?page_id=54">捐赠项目</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://github.com/fslongjin/My-Easy-Pic-Bed">访问项目的Github地址</a>
              <a class="dropdown-item" href="https://github.com/fslongjin/">访问作者的Github主页</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">还在开发中哦...</a>
            </div>
          </li>
        </ul>
        
      </div>
    </nav>
    <div class="container mt-2">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <h1 class="text-center">MY-Easy-Pic-Bed</h1>
            <h1 class="text-center"> </h1>
            <h2 class="text-center">一个快捷高效的图床</h2>
            <h1 class="text-center"></h1>
            <div class="row justify-content-center">
              <form method=post enctype=multipart/form-data>
              <div class="col-auto">

                  <p>
                    <input class="btn btn-success btn-lg" type="button" value="选择文件" onclick="getFile()">
                    <input style="display: none" type=file name="file" id="getF" onchange="clickF()">
                    <button type="submit" class="btn btn-primary btn-lg">开始上传</button>
                  </p>

              </div>

                </form>

            </div>
            <br>
            <div class="row justify-content-center">
            <div class="col-auto">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <h6 class="text-center">您刚刚上传的文件是</h6>
                {% endif %}
                    {% for message in messages%}
                        <div class="text-center">{{message}}</div>
                        {% endfor %}
                  {% if messages %}
                  <br>
                  {% endif %}
                {% endwith %}

              </div>
            </div>
            <h6 class="text-center">当前图床中有{{pic_num}}张图片</h6>
            <br>
            <p class="text-center">MY-Easy-Pic-Bed可以轻松地运行在您的云服务器上，或是在您的个人计算机上，甚至是您的NAS上。为您的博客创作提供持续支持</p>

            <img src="../static/images/index_flag.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="text-center col-md-6 col-12">
           <br>
          <h3>这是一个开放源代码的程序</h3>
          <p>您可以免费使用这些源代码，但是请您遵循我们的开放源代码协议！</p>
          <a class="btn btn-danger btn-lg" href="http://www.apache.org/licenses/LICENSE-2.0.html" role="button">了解Apache Licence 2.0</a>
        </div>

        <div class="text-center col-md-6 col-12">
          <br>
          <h3>不会使用？</h3>
          <p>您可以点击下面的链接转到这个程序的官方网站来获取对您有用的信息</p>
          <a class="btn btn-info btn-lg" href="https://github.com/fslongjin/My-Easy-Pic-Bed" role="button">转到程序官网</a>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>


    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-md-0 mb-2">
          <h2>联系作者</h2>
          <address>
            <strong>灵高信息技术</strong><br>
            中华人民共和国 广东省 广州市<br>
            某985高校<br>
            <abbr title="email">邮箱</abbr> longjin@ringotek.cn
          </address>

        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <h2>关于作者</h2>
          <p>作者是一名软件工程专业的学生，脑子里充满了稀奇古怪的想法，希望自己的创意能为更多的人带来方便</p>
          <p>作者的微信公众号： 灯珑</p>
          <a href="http://longjin666.top">作者的个人网站是 longjin666.top</a>
        </div>
        <div class="col-lg-4 col-12">
          <h2>捐赠作者</h2>
          <p>你的捐赠能为我带来巨大的动力！</p>
          <a href="http://www.longjin666.top/?page_id=54">点击这里进入捐赠页面！</a>
        </div>
      </div>
    </div>
    <hr>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright 2020© fslongjin. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.4.1.js"></script>
  </body>


 <script>
    function getFile(){
	    $("#getF").click();
    }
    var filename="";
    function clickF() {
        filename=$("#getF").val();
        var filenames=filename.split("\\");
        filename=filenames[filenames.length-1];
        $("#lb").text(filename);
    }
</script>

</html>